body {
	background-color: #fff;
	margin: 0;
	font-family: sans-serif;
}

#title {
	font-weight: bold;
	font-size: 50px;
	word-break: break-all;
}

button {
	font-size: 30px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid black;
	transition: transform 0.3s ease;
}

button:active {
	/* Oh yeaaaaaaaaaaa */
	transform: rotate(180deg);
}

#controls {
	border-collapse: collapse;
}

#controls td {
	border: 1px solid black;
}

#controls td.small-font {
	font-size: 8px;
}

#controls td:not(.table-cell-white) {
	background-color: #c1c1c1;
}

#controls td button {
	background-color: white;
	margin-top: 8px;
	margin-right: 10px;
}

#controls td #play {
	background-color: coral;
}

#controls td #stop {
	background-color: indianred;
}

#controls td #fx {
	background-color: antiquewhite;
}

#controls td[id='input'].active {
	color: indianred;
	font-weight: bold;
}

#controls td[id='output'].active {
	color: coral;
	font-weight: bold;
}

#help {
	position: fixed;
	right: 20px;
	bottom: 20px;
}